
.friendsList{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
 .friendsItem{
    list-style-type: none;
    border: 2px solid;
    border-radius: 7px;
    width: 80px;
    transition: transform 0.2s ease-in-out;
}
 .friendsItem:hover {
    transform: scale(1.1);
}